extends layout

block content
  
  h1 Books
  form(action='/books/search')
    input(type='search', name='term', placeholder='Search...')
    button(type="submit") Search 
  
  p
    a.button(href='/books') Home
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books 
        tr  
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year
